/* CSS Document */
.header {


			width: 100%;
			height: 80px;

			border-radius: 20px 0px 20px 0px;

			background-color: #21c08b;

			/* background-image: linear-gradient(#21C08B, #AB88FF); */


			display: flex;
			justify-content: space-between; /* coloca los elementos con eslpacio en medio */
			align-items: center;
		}
		.header__img{
			width: auto;
			margin-top: 10px;
			margin-left: 10px;
		}
		.header__menu{
			margin-right: 60px;
		}
		.header__menu ul{
			display: none; /* no mostrar */
			 list-style: none;/* quita los puntos de las listas */
			padding: 0;
			position: absolute;
			width: 100px;
			text-align: right;
			margin: 75px 0px 0px -32px;
		}

		.header__menu:hover ul, ul:hover{
			display: block;
		}
		.header__menu__perfil{
			margin-right: 27px;
			width: 40px;
			display: flex;
			align-items: center;

		}

		.header__menu__perfil img{

			width: 30px;
			height: 30px;
			align-items: center;

		}


		.header__menu li{
			margin:  10px 0px;
		}
		.header__menu li a{
			color: white;
			text-decoration: none;
		}
		.header__menu li a:hover{
			text-decoration: underline;

		}

.login {
  background: linear-gradient(#21C08B, #AB88FF);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}
.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.login__container--form {
  display: flex;
  flex-direction: column;
}
.login__container--form label {
  font-size: 14px;
}

		body {

			margin: 0;

			border-radius: 20px 0px 20px 0px;
			background-color: #21c08b;
/* background-image: linear-gradient(#21C08B, #AB88FF); */


		}
		.main{

			height: 300px;
		}
		.main_tible{
			color: white;
			font-size: 25px;
		}
		.input{
			border:2px solid #FFFFFF;
			border-radius: 25px;
			color: white;
			font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
			font-size: 16px;
			height: 40px;
			padding: 0px 20px;
			width: 70%;
			background-color: rgba(255,255,255,0.10);
			outline: none;



				}
.input_buscar{
			border:2px solid #FFFFFF;
			border-radius: 25px;
			color: white;
			font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
			font-size: 16px;
			height: 40px;
			padding: 0px 20px;
			width: 25%;
			background-color: rgba(255,255,255,0.10);
			outline: none;



				}
		::placeholder{
			color: white;
		}
/* media query para ajustar a dispositivos */

@media only screen and (max-width:600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }
  .footer {
    align-items: flex-start;
    flex-direction: column;
    
  }

}

